@import '../../App.scss';


.about {
  min-height: 100vh;
  padding: $oneRem $oneRem $threeRem $oneRem;
  @include breakpoint(desktop-up){
   padding: $threeRem;
  }

  &__text {
    color: $lightGreenColor;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: 2rem;
  }
  &__footer {
    text-align: right;
  }

  &__text::before {
    background: $lightGreenColor;
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    width: 55px;
    height: 2px;
  }
  &__text_description {
    font-size: $twoRem;
    @extend %fontWeight600;
    line-height: 1.3;
    margin-bottom: 3rem;
  }
  &__text_motto {
    margin-top: 4rem;
    margin-bottom: 4rem;
    @extend %fontWeight600;
    @extend %width80;
    font-size: 6rem;

    .gradientFade{
      display: block;
    }

    @include breakpoint(tablet-landscape-up){
      font-size: 7rem;
      .gradientFade{
      display: inline;
      }

    }
  }
  &__button {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    line-height: 5rem;
    text-align: center;
    text-decoration: none;
    height: $fiveRem;
    font-size: $oneTwoRem;
    font-family: $poppinsFont;
    border-radius: $oneRem;
    @extend %noBorder;
    @extend %fontWeight500;

    @include breakpoint(phone-up){
      width: 250px;
    }
    @include breakpoint(tablet-portrait-up){
      width: 250px;
    }
    @include breakpoint(tablet-landscape-up){
      width: 250px;
    }

  }
  &__subsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
  }

  .detail {
    &__item {
      padding: 3rem;
      width: 33.3%;
      border-radius: $twoRem;
      transition: all 0.3s ease-in-out;
      button {
        opacity: 0;
      }
    }

    &__item:hover {
      box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.09);
      button {
        opacity: 1;
      }
    }
    &__preview {
      margin-bottom: $threeRem;
    }

    &__category {
      margin-bottom: $twoRem;
      font-size: $oneFiveRem;
    }
    &__text {
      font-size: $oneOneRem;
      color: $grayShadeColor;
      line-height: 1.7;
      font-family: $poppinsFont;
      margin-bottom: $twoRem;
    }
  }
}

.button {
  width: 250px;
  height: 70px;
  text-align: center;
  border-radius:1rem;
  border: none;
  font-size: $oneTwoRem;
  font-family: $poppinsFont;
  @extend %fontWeight500;
  &__purple {
    background-color: $purpleColor;
    color: $whiteColor;
  }

  &__deep_blue {
    background-color: $deepBlueColor;
    color: $whiteColor;
  }

  &__green{
    background-color: $lightGreenColor;
    color: $whiteColor;
  }
}

.detail {
  &__item {
    padding: 2rem 1rem;
    text-align: center;
  }
  &__preview {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  &__category {
    @extend %fontWeight600;
  }
  &__text {
    color: $grayColor;
  }
}

.purple__link {
  color: $purpleColor;
  font-size: 1rem;
}
.green__link {
  cursor: pointer;
  color: $lightGreenColor;
  font-size: 1rem;
}
@-webkit-keyframes gradFade {
   from{
     background: transparent;
     opacity: 0;
   }
  to{
    opacity: 1;
    background: linear-gradient(#9cc167, #46afc1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
.delay1s{
  animation-delay: 1s;
}
.gradientFade{
  animation: gradFade 1s infinite ;
}
.delay2s{
  animation-delay: 2s;
}