@import '../../App.scss';

.portfolio {
  background-color: $lightGreenColor;
  padding: $threeRem $oneRem;

  @include breakpoint(desktop-up){
    padding: $fiveRem;

  }

  &__Heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem 0;
    color: $whiteColor;
  }
  &__title {
    color: $whiteColor;
    position: relative;
    padding-left: $fourRem;
  }
  &__title::before {
    content: '';
    top: 48%;
    left: 0;
    display: block;
    height: 2px;
    width: 50px;
    background-color: $whiteColor;
    position: absolute;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(tablet-landscape-up){
      flex-direction: row;
    }


  }

  &__item {
    padding: 0;
    margin-bottom: $fiveRem;
    overflow: auto;
    background-color: $whiteColor;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.03);
    border-radius: $oneRem;
    transition: all .3s ease-in-out;
    @include breakpoint(tablet-landscape-up){
      width: 45%;
      border-radius: $threeRem;
    }

    a{
      color: unset ;
      text-decoration: none;
    }
    img {
      width: 100%;
    }
  }

  &__item:hover {
  }

  &__item_body{
    padding: $twoRem;
    line-height: 1.4;
    @include breakpoint(tablet-landscape-up){

      padding: $threeRem;
    }

    h4{
      font-family: $poppinsFont;

      line-height: 1.2;
      margin-bottom: $oneRem;
      @extend %fontWeight500;

      @include breakpoint(tablet-landscape-up){
        font-size: $oneFiveRem;
      }
    }
    p{
      color: $grayColor;
    }
  }
}
