@import '../../App.scss';

.contact {
  padding: 3rem 1rem;
  &__button{

    @include breakpoint(tablet-landscape-up){
      text-align: center;
    }
  }


  @include breakpoint(tablet-landscape-up){
    padding: 3rem;
    &__button{
      text-align: left;
    }
  }


  &__box {
    background-color: white;
    @include breakpoint(tablet-landscape-up){
      margin: 3rem auto;
      width: 80%;
    }
  }
  &__greeting {
    position: relative;
    padding-left:$fourRem;
    margin-bottom: $threeRem;
  }
  &__greeting::before {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    width: 50px;
    height: 2px;
    left: 0;
    background-color: $blackColor;
  }
  &__title {
    line-height: 1.16;
    font-size: $threeRem;
    font-family: $poppinsFont;
    margin-bottom: $twoRem;
    @extend %fontWeight600;

    @include breakpoint(tablet-landscape-up){
      font-size: 4rem;
    }
  }
  &__top {
    display: block;

   @include breakpoint(tablet-landscape-up){
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 2rem;
   }
    @include breakpoint(desktop-up){
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr;
     grid-gap: 2rem;
   }
  }
  &__info{
    margin-bottom: $fiveRem;
    margin-right: 0;
    @include breakpoint(tablet-landscape-up){
      margin-right: $threeRem;
    }
  }
  &__info_item{
    display: flex;
    align-items: center;
    margin-bottom: $twoRem;
    //font-size: $oneFiveRem;
    span{
      margin-left: $oneFiveRem;
      word-break: break-word;
      font-size: .9rem;
      @include breakpoint(tablet-landscape-up){
        font-size: $oneTwoRem;
        word-break: inherit;
      }
    }
    i{
      font-size: $oneFiveRem;
    }
  }
  &__description {
    font-size: $oneRem;
    line-height: 1.4;
    color: $grayColor;
    margin-bottom: $threeRem;

    @include breakpoint(tablet-landscape-up){
    padding-right: $fourRem;
    }
  }
  &__bottom{
    display: flex;
    margin-top: $twoRem;
    justify-content: space-around;
    @include breakpoint(tablet-landscape-up){
      justify-content: space-between;
      margin-top: $fourRem;

    }
    a{
      color: $lightGreenColor;
      text-decoration: none;
    }
  }
}
