@import "../../variables";

.l_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 2rem;

  .l_nav_menu {
    .l_nav_menu-link {
      margin: 1rem;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: .2px;
      line-height: 1.1;
      z-index: 1;
      color: $whiteColor;
      position: relative;
      text-decoration: none;

    }
    .l_nav_menu-link:before{
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 8px;
      z-index: -1;
      background-color: $yellowColor;
      -webkit-transition: width .3s ease;
      -o-transition: width .3s ease;
      transition: width .3s ease;
    }
    .l_nav_menu-link:hover::before{
      width: 100%;
    }
  }

}

.l_nav.l_nav-fixed{
  position: fixed;
  top:0;
  z-index: 10;
}