@import "../../App";

.publication{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: $oneRem;
  @include breakpoint(tablet-landscape-up){
    padding: $threeRem $fourRem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $fourRem;
    grid-template-rows: 1fr;
  }

  h1{
    font-size: $fourRem;
    font-weight: 600;
    margin-bottom: $oneFiveRem;
  }
  p{
    line-height: $oneFiveRem;
    font-size: $oneRem;
    color: $grayColor;
  }

  .articles{
    .articleCard{
      border: 1px solid $lightGrayColor;
      border-radius: $oneRem;
      margin-bottom: $oneRem;
      padding: $oneRem;

      transform: scale(1);
      cursor: pointer;
      transition: all .3s ease-in-out;

      @include breakpoint(tablet-landscape-up){
        padding: $threeRem;

      }

      .site{
        display: flex;
        margin-bottom: $oneRem;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        @include breakpoint(tablet-landscape-up){
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

        }



        &Title{
         font-size: $threeRem;
          margin-bottom: $oneRem;
          @include breakpoint(tablet-landscape-up){
           margin-bottom: unset;
            font-size: $oneFiveRem;

          } @include breakpoint(desktop-up){
           margin-bottom: unset;
            font-size: $threeRem;

          }
        }
        &link{
          background-color: $lightGrayColor;
          color: $blackColor;
          font-weight: normal;
          padding:.5rem;
          text-decoration: none;
          border-radius: .5rem;
          transition: all .3s ease-in-out;
        }
        &link:hover{
          background-color: $lightGreenColor;
          color: $whiteColor;
        }
      }

      .title{
        text-decoration: none;
        color: $grayColor;
        font-size: .9rem;
        transition: all .3s ease-in-out;
        @include breakpoint(tablet-landscape-up){
          font-size: $oneRem;
        }
      }
      .title:hover{
        color: $lightGreenColor;
      }
    }
    .articleCard:hover{
      transform: scale(1.05);
    }
  }

}