/* @import "../../variables";

.footer{
  background-color: $whiteColor;
  color: $grayColor;
  padding-top: 1rem;
  text-align: center;
  height: $threeRem;
  clear: both;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
} */