@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6, */
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}
:root {
  --gray: #777780;
  --black: #070708;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  quotes: '' '';
}

.muli-regular {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

.muli-bold {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.poppins-normal {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.playflair-regular {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.playflair-bold {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.text__center {
  text-align: center;
}
.mb-3 {
  margin-bottom: 3rem;
}

@keyframes roundTheSun {
   0% {
     transform:rotate(0deg) scale(1) ;
   }
  30% {
    transform:rotate(90deg) scale(1.1);
  }
  60% {
    transform:rotate(180deg) scale(1) ;
  }
  90% {
    transform:rotate(270deg) scale(1.2);
  }
  100% {
    transform:rotate(360deg) scale(1);
  }
}
[data-aos='transform'].aos-animate {
  -webkit-transform: translate(0) rotateX(0deg) skewY(0deg);
  transform: translate(0) rotateX(0deg) skewY(0deg);
  opacity: 1;
}

[data-aos='transform'] {
  -webkit-transform: rotateX(90deg) skewY(-5deg);
  transform: rotateX(90deg) skewY(-5deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

[data-aos='animation-scale-y'] {
  -webkit-transform: translateY(40px) scaleY(1.4);
  -ms-transform: translateY(40px) scaleY(1.4);
  transform: translateY(40px) scaleY(1.4);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-scale-y'].aos-animate {
  -webkit-transform: translateY(0) scaleY(1);
  -ms-transform: translateY(0) scaleY(1);
  transform: translateY(0) scaleY(1);
  opacity: 1;
}

[data-aos='animation-translate-y'] {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-translate-y'].aos-animate {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

[data-aos='transform'] {
  -webkit-transform: rotateX(90deg) skewY(-5deg);
  transform: rotateX(90deg) skewY(-5deg);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='transform'].aos-animate {
  -webkit-transform: translate(0) rotateX(0deg) skewY(0deg);
  transform: translate(0) rotateX(0deg) skewY(0deg);
  opacity: 1;
}

.App {
  /* background: #242120; */
  background: var(--black, #070708);
}
