$grayColor: #bbbbbb;
$deepGrayColor: #999999;
$lightGrayColor: #d8d8d8;
$whiteColor: white;
$muliFont: 'Muli', sans-serif;
$fourRem:4rem;
$fiveRem:5rem;
$twoRem:2rem;
$threeRem:3rem;
$oneRem:1rem;
$threeHundredPx:300px;
$twoEightyPx:280px;
$twoFiftyPx:250px;
$pinkColor: #f5000e;
$transparentColor: transparent;
$yellowColor:#ffdd65;
$blackColor:#222222;