@import "../../variables";

.header__slider {
  width: 100%;
  height: 100%;
}


.slider_item {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .slider_item-title {
    font-family: $muliFont;
    color: $whiteColor;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: $fourRem;
  }

  .slider_item-subject {
    color: $whiteColor;
    font-family: $muliFont;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: $fourRem;
    text-transform: capitalize;
  }

  .slider_button {
    font-size: 14px;
    display: inline-block;
    letter-spacing: .5px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 20px 28px;
    text-transform: lowercase;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.09);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  .slider_button::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 8px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $yellowColor;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }

  .slider_button.pink {
    background-color: $pinkColor;
    color: $whiteColor;
  }

  .slider_button.pink:hover {
    background-color: $whiteColor;
    color: $pinkColor;
  }
}


@media all and (min-width: 1200px) {

  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 90%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $blackColor;
  }
  .swiper-button-prev {
    left: 80%;
  }
  .swiper-button-next {
    left: 93%;
  }
  .swiper-pagination-current {
    color: $pinkColor;
    font-size: $twoRem;
  }
  .swiper-pagination-total {
    color: $deepGrayColor;
    font-size: $oneRem;
  }
  .swiper-pagination-fraction{
    bottom: 4.5%;
    left: 77.2%;
    font-weight: bold;
    width: 20%;
    padding: 2rem 0rem;
    background-color: $whiteColor;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    top: 5%;
    left: 30%;
    bottom: auto;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: $twoRem;
  }


  .swiper-pagination-bullet {
    height: 50px;
    display: inline;
    position: relative;
    font-weight: bold;
    color: white;
    background-color: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet:before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 8px;
    z-index: -1;
    background-color: $yellowColor;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
  }
  .swiper-pagination-bullet:hover::before,.swiper-pagination-bullet-active::before{
    width: 100%;
  }



  .slider_item {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider_item-title {
      font-family: $muliFont;
      color: $whiteColor;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: $fourRem;
    }

    .slider_item-subject {
      color: $whiteColor;
      font-family: $muliFont;
      font-weight: bolder;
      margin-bottom: $fourRem;
      text-transform: capitalize;
      font-size: $fiveRem;
    }

    .slider_button {
      font-size: 14px;
      display: inline-block;
      letter-spacing: .5px;
      font-family: "Muli", sans-serif;
      font-weight: bold;
      line-height: 1;
      padding: 20px 38px;
      text-transform: lowercase;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
    }

    .slider_button::before {
      content: '';
      position: absolute;
      left: -6px;
      top: 8px;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $yellowColor;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
    }
  }

}